package {{ .TableName }}

import (
	{{- if usesType .Fields "json.RawMessage" }}
	"encoding/json"
	{{- end }}
	{{- if usesType .Fields "time.Time" }}
	"time"
	{{- end }}
	{{- if usesType .Fields "uuid.UUID" }}
	"github.com/google/uuid"
	{{- end }}
	{{- if usesType .Fields "pgtype.Numeric" }}
	"github.com/jackc/pgx/v5/pgtype"
	{{- end }}
	"{{ .PackagePath }}/models"
	"{{ .PackagePath }}/query/ast"
	{{- if or .ReverseRelFields .ManyToManyFields }}
	"{{ .PackagePath }}/query/expr"
	{{- end }}
)

var Into = into{{ .StructName }}{}

type into{{ .StructName }} struct{}

func Table() *ast.TableSource {
	return &ast.TableSource{Table: "{{ .TableName }}"}
}

{{ range .Fields }}
func {{ .FieldName }}() *ast.{{ toTypeExpression .GoType .SQLType }} {
	return ast.New{{ toTypeExpression .GoType .SQLType }}("{{ $.TableName }}", "{{ .ColumnName }}")
}
{{ end }}

func AllColumns() []ast.NamedExpression {
	return []ast.NamedExpression{
	{{- range .Fields }}
		{{ .FieldName }}(),
	{{- end }}
	}
}

{{ range .Fields }}
func (into{{ $.StructName }}) {{ .FieldName }}() ast.Projection[models.{{ $.StructName }}] {
	return ast.NewProjection({{ .FieldName }}(), func({{ $.ReceiverName }} *models.{{ $.StructName }}) {{ scanDestType .GoType }} {
		return &{{ $.ReceiverName }}.{{ .FieldName }}
	})
}
{{ end }}

func (into{{ .StructName }}) AllColumns() []ast.Projection[models.{{ .StructName }}] {
	return []ast.Projection[models.{{ .StructName }}]{
	{{- range .Fields }}
		Into.{{ .FieldName }}(),
	{{- end }}
	}
}

{{ range .ReverseRelFields }}
{{- $rel := . }}
func (into{{ $.StructName }}) {{ .FieldName }}(columns ...ast.NamedExpression) ast.Projection[models.{{ $.StructName }}] {
	if len(columns) == 0 {
		columns = default{{ .FieldName }}Columns()
	}
	{{- $filter := filterColumn .FromColumns .FromPKField .FKColumn }}
	return ast.NewJSONProjection(
		expr.JsonAggObject("{{ .FieldName | toLower }}", ast.IsNotNull(ast.New{{ toTypeExpression $filter.GoType $filter.SQLType }}("{{ .FromTable }}", "{{ $filter.ColumnName }}")), columns...),
		func({{ $.ReceiverName }} *models.{{ $.StructName }}) *{{ .GoType }} {
			return &{{ $.ReceiverName }}.{{ .FieldName }}
		},
	)
}

func default{{ .FieldName }}Columns() []ast.NamedExpression {
	return []ast.NamedExpression{
	{{- range .FromColumns }}
		ast.New{{ toTypeExpression .GoType .SQLType }}("{{ $rel.FromTable }}", "{{ .ColumnName }}"),
	{{- end }}
	}
}
{{ end }}

{{ range .ManyToManyFields }}
{{- $rel := . }}
func (into{{ $.StructName }}) {{ .FieldName }}(columns ...ast.NamedExpression) ast.Projection[models.{{ $.StructName }}] {
	if len(columns) == 0 {
		columns = default{{ .FieldName }}Columns()
	}
	{{- $filter := filterColumn .ReferencedColumns .ReferencedPKField .RightFKColumn }}
	return ast.NewJSONProjection(
		expr.JsonAggObject("{{ .FieldName | toLower }}", ast.IsNotNull(ast.New{{ toTypeExpression $filter.GoType $filter.SQLType }}("{{ .ReferencedTable }}", "{{ $filter.ColumnName }}")), columns...),
		func({{ $.ReceiverName }} *models.{{ $.StructName }}) *{{ .GoType }} {
			return &{{ $.ReceiverName }}.{{ .FieldName }}
		},
	)
}

func default{{ .FieldName }}Columns() []ast.NamedExpression {
	return []ast.NamedExpression{
	{{- range .ReferencedColumns }}
		ast.New{{ toTypeExpression .GoType .SQLType }}("{{ $rel.ReferencedTable }}", "{{ .ColumnName }}"),
	{{- end }}
	}
}
{{ end }}
