package {{ .TableName }}

import (
	{{- if usesType .Fields "json.RawMessage" }}
	"encoding/json"
	{{- end }}
	"fmt"
	"slices"
	{{- if usesType .Fields "time.Time" }}
	"time"
	{{- end }}

	{{- if usesType .Fields "uuid.UUID" }}
	"github.com/google/uuid"
	{{- end }}
	{{- if usesType .Fields "pgtype.Numeric" }}
	"github.com/jackc/pgx/v5/pgtype"
	{{- end }}
	"github.com/jackc/pgx/v5/pgxpool"

	"{{ .PackagePath }}/models"
	"{{ .PackagePath }}/query/ast"
	"{{ .PackagePath }}/query/builder"
	{{- if or .ReverseRelFields .ManyToManyFields }}
	"{{ .PackagePath }}/query/expr"
	{{- end }}
)

// NewQuery returns a query builder for {{ .TableName }}
func NewQuery(pool *pgxpool.Pool) *builder.KnownTableBuilder[models.{{ .StructName }}] {
	return builder.NewKnownTableBuilder[models.{{ .StructName }}](pool, Table())
}

var Into = into{{ .StructName }}{}

type into{{ .StructName }} struct{}

func Table() *ast.TableSource {
	return ast.NewTableSource("{{ .TableName }}")
}

{{ range .Fields }}
func {{ .FieldName }}() *ast.{{ toProjectionType .GoType .SQLType }}[models.{{ $.StructName }}, {{ scanDestType .GoType }}] {
	return new{{ .FieldName }}("{{ $.TableName }}", func({{ $.ReceiverName }} *models.{{ $.StructName }}) {{ scanDestType .GoType }} {
		return &{{ $.ReceiverName }}.{{ .FieldName }}
	})
}
{{ end }}

func AllColumns() []ast.NamedExpression {
	return []ast.NamedExpression{
	{{- range .Fields }}
		{{ .FieldName }}(),
	{{- end }}
	}
}

{{ range .Fields }}
func (into{{ $.StructName }}) {{ .FieldName }}() ast.Projection[models.{{ $.StructName }}] {
	return {{ .FieldName }}()
}
{{ end }}

func (into{{ .StructName }}) AllColumns() []ast.Projection[models.{{ .StructName }}] {
	return []ast.Projection[models.{{ .StructName }}]{
	{{- range .Fields }}
		Into.{{ .FieldName }}(),
	{{- end }}
	}
}

type for{{ .StructName }}[T any] struct {
	dest func(*T) *models.{{ .StructName }}
}

func For[T any](dest func(*T) *models.{{ .StructName }}) for{{ .StructName }}[T] {
	return for{{ .StructName }}[T]{dest: dest}
}

{{ range .Fields }}
func (f for{{ $.StructName }}[T]) {{ .FieldName }}() *ast.{{ toProjectionType .GoType .SQLType }}[T, {{ scanDestType .GoType }}] {
	return new{{ .FieldName }}("{{ $.TableName }}", func(t *T) {{ scanDestType .GoType }} {
		dto := f.dest(t)
		return &dto.{{ .FieldName }}
	})
}
{{ end }}

func (f for{{ .StructName }}[T]) AllColumns() []ast.Projection[T] {
	return []ast.Projection[T]{
	{{- range .Fields }}
		f.{{ .FieldName }}(),
	{{- end }}
	}
}

{{ range .ReverseRelFields }}
{{- $rel := . }}
func (into{{ $.StructName }}) {{ .FieldName }}(columns ...ast.NamedExpression) ast.Projection[models.{{ $.StructName }}] {
	if len(columns) == 0 {
		columns = default{{ .FieldName }}Columns()
	}
	{{- $filter := filterColumn .FromColumns .FromPKField .FKColumn }}
	return ast.NewJSONProjection(
		expr.JsonAggObject("{{ .FieldName | toLower }}", expr.IsNotNull(ast.New{{ toTypeExpression $filter.GoType $filter.SQLType }}("{{ .FromTable }}", "{{ $filter.ColumnName }}")), columns...),
		func({{ $.ReceiverName }} *models.{{ $.StructName }}) *{{ modelType .GoType }} {
			return &{{ $.ReceiverName }}.{{ .FieldName }}
		},
	)
}

func default{{ .FieldName }}Columns() []ast.NamedExpression {
	return []ast.NamedExpression{
	{{- range .FromColumns }}
		ast.New{{ toTypeExpression .GoType .SQLType }}("{{ $rel.FromTable }}", "{{ .ColumnName }}"),
	{{- end }}
	}
}
{{ end }}

{{ range .ReverseRelFields }}
{{- $rel := . }}
func (f for{{ $.StructName }}[T]) {{ .FieldName }}(columns ...ast.NamedExpression) ast.Projection[T] {
	if len(columns) == 0 {
		columns = default{{ .FieldName }}Columns()
	}
	{{- $filter := filterColumn .FromColumns .FromPKField .FKColumn }}
	return ast.NewJSONProjection(
		expr.JsonAggObject("{{ .FieldName | toLower }}", expr.IsNotNull(ast.New{{ toTypeExpression $filter.GoType $filter.SQLType }}("{{ .FromTable }}", "{{ $filter.ColumnName }}")), columns...),
		func(t *T) *{{ modelType .GoType }} {
			dto := f.dest(t)
			return &dto.{{ .FieldName }}
		},
	)
}
{{ end }}

{{ range .ManyToManyFields }}
{{- $rel := . }}
func (into{{ $.StructName }}) {{ .FieldName }}(columns ...ast.NamedExpression) ast.Projection[models.{{ $.StructName }}] {
	if len(columns) == 0 {
		columns = default{{ .FieldName }}Columns()
	}
	{{- $filter := filterColumn .ReferencedColumns .ReferencedPKField .RightFKColumn }}
	return ast.NewJSONProjection(
		expr.JsonAggObject("{{ .FieldName | toLower }}", expr.IsNotNull(ast.New{{ toTypeExpression $filter.GoType $filter.SQLType }}("{{ .ReferencedTable }}", "{{ $filter.ColumnName }}")), columns...),
		func({{ $.ReceiverName }} *models.{{ $.StructName }}) *{{ modelType .GoType }} {
			return &{{ $.ReceiverName }}.{{ .FieldName }}
		},
	)
}

func default{{ .FieldName }}Columns() []ast.NamedExpression {
	return []ast.NamedExpression{
	{{- range .ReferencedColumns }}
		ast.New{{ toTypeExpression .GoType .SQLType }}("{{ $rel.ReferencedTable }}", "{{ .ColumnName }}"),
	{{- end }}
	}
}
{{ end }}

{{ range .ManyToManyFields }}
{{- $rel := . }}
func (f for{{ $.StructName }}[T]) {{ .FieldName }}(columns ...ast.NamedExpression) ast.Projection[T] {
	if len(columns) == 0 {
		columns = default{{ .FieldName }}Columns()
	}
	{{- $filter := filterColumn .ReferencedColumns .ReferencedPKField .RightFKColumn }}
	return ast.NewJSONProjection(
		expr.JsonAggObject("{{ .FieldName | toLower }}", expr.IsNotNull(ast.New{{ toTypeExpression $filter.GoType $filter.SQLType }}("{{ .ReferencedTable }}", "{{ $filter.ColumnName }}")), columns...),
		func(t *T) *{{ modelType .GoType }} {
			dto := f.dest(t)
			return &dto.{{ .FieldName }}
		},
	)
}
{{ end }}

type Alias[T any] struct {
	*ast.Alias
	for{{ $.StructName }}[T]
}

func As(name string, columns ...ast.NamedExpression) Alias[models.{{ .StructName }}] {
	return Alias[models.{{ .StructName }}]{
		Alias: ast.NewAlias(name, columns...),
		for{{ $.StructName }}: for{{ $.StructName }}[models.{{ .StructName }}]{
			dest: func({{ $.ReceiverName }} *models.{{ .StructName }}) *models.{{ .StructName }} {
				return {{ $.ReceiverName }}
			},
		},
	}
}

{{ range .Fields }}
func (a Alias[T]) {{ .FieldName }}() *ast.{{ toProjectionType .GoType .SQLType }}[T, {{ scanDestType .GoType }}] {
	projection := new{{ .FieldName }}(a.Alias.Name(), func(t *T) {{ scanDestType .GoType }} {
		dto := a.dest(t)
		return &dto.{{ .FieldName }}
	})
	if len(a.Columns()) == 0 || slices.ContainsFunc(a.Columns(), func(e ast.NamedExpression) bool {
		return e.Name() == projection.Name()
	}) {
		return projection
	}
	errExpr := ast.NewErrorExpression(fmt.Errorf("unknown column '{{ .ColumnName }}' in alias %s", a.Alias.Name()))
	projection.{{ toTypeExpression .GoType .SQLType }} = ast.New{{ toTypeExpression .GoType .SQLType }}FromExpr(projection.Name(), errExpr)
	return projection
}
{{ end }}

func (a Alias[T]) AllColumns() []ast.Projection[T] {
	return []ast.Projection[T]{
	{{- range .Fields }}
		a.{{ .FieldName }}(),
	{{- end }}
	}
}

func AliasFor[T any](alias *ast.Alias, dest func(*T) *models.{{ .StructName }}) Alias[T] {
	return Alias[T]{
		Alias: alias,
		for{{ $.StructName }}: for{{ $.StructName }}[T]{dest: dest},
	}
}

{{ range .Fields }}
func new{{ .FieldName }}[T any](table string, ref func(*T) {{ scanDestType .GoType }}) *ast.{{ toProjectionType .GoType .SQLType }}[T, {{ scanDestType .GoType }}] {
	return ast.New{{ toProjectionType .GoType .SQLType }}(
		table,
		"{{ .ColumnName }}",
		ref,
	)
}
{{ end }}
