package query

import (
	"github.com/google/uuid"
	"github.com/jackc/pgx/v5/pgxpool"
	"{{ $.PackagePath }}/models"
	"{{ $.PackagePath }}/query/ast"
	"{{ $.PackagePath }}/query/builder"
	{{- range .Tables }}
	"{{ $.PackagePath }}/query/{{ .TableName }}"
	{{- end }}
)

{{ range $table := .Tables }}
{{- $tablePkg := $table.PackageName }}
// {{ $table.StructName }}InsertOne inserts a single {{ $table.TableName }} DTO
func {{ $table.StructName }}InsertOne(pool *pgxpool.Pool, dto *models.{{ $table.StructName }}) builder.InsertFinalizeQuery[models.{{ $table.StructName }}, *models.{{ $table.StructName }}] {
	return models.New{{ toPascalCase $table.TableName }}Query(pool).
		Insert(
			{{- range $table.InsertColumns }}
			{{ $tablePkg }}.{{ .FieldName }}(),
			{{- end }}
		).
		{{- if $table.PrimaryKeyFields }}
		Returning(
			{{- range $index, $pkField := $table.PrimaryKeyFields }}
			{{- if $index }}, {{ end }}{{ $tablePkg }}.{{ $pkField }}()
			{{- end -}}
		).
		{{- end }}
		Values(dto)
}

// {{ $table.StructName }}InsertMany inserts multiple {{ $table.TableName }} DTOs
func {{ $table.StructName }}InsertMany(pool *pgxpool.Pool, dtos ...*models.{{ $table.StructName }}) builder.InsertFinalizeQuery[models.{{ $table.StructName }}, *models.{{ $table.StructName }}] {
	return models.New{{ toPascalCase $table.TableName }}Query(pool).
		Insert(
			{{- range $table.InsertColumns }}
			{{ $tablePkg }}.{{ .FieldName }}(),
			{{- end }}
		).
		{{- if $table.PrimaryKeyFields }}
		Returning(
			{{- range $index, $pkField := $table.PrimaryKeyFields }}
			{{- if $index }}, {{ end }}{{ $tablePkg }}.{{ $pkField }}()
			{{- end -}}
		).
		{{- end }}
		Values(dtos...)
}
{{ end }}

func UpdateUser(pool *pgxpool.Pool, dto *models.UsersDto) builder.UpdateFinalizeQuery[models.UsersDto, *models.UsersDto] {
	return models.NewDTOQuery[models.UsersDto](pool).
		Update(
			SetTo(dto,
				users.Username(),
				users.Email(),
				users.FullName(),
				users.IsActive()),
		).Where(users.Id().Eq(Val(*dto.Id)))
}

func UpdateUsers(pool *pgxpool.Pool, in ...*models.UsersDto) builder.UpdateFinalizeQuery[models.UsersDto, *models.UsersDto] {
	dtos := models.UsersDtos(in)
	v := ast.NewAlias("v",
		users.Id(),
		users.Username(),
		users.Email(),
		users.FullName())
	return models.NewUsersQuery(pool).
		Update(
			Set(users.Username()).To(Rel(v, users.Username())),
			Set(users.Email()).To(Rel(v, users.Email())),
			Set(users.FullName()).To(Rel(v, users.FullName())),
		).
		From(
			Unnest(
				Cast(dtos.Id()).AsUUIDArray(),
				Cast(dtos.Username()).AsTextArray(),
				Cast(dtos.Email()).AsTextArray(),
				Cast(dtos.FullName()).AsTextArray(),
			).As(v),
		).
		Where(users.Id().Eq(Rel(v, users.Id())))
}

func DeleteUser(pool *pgxpool.Pool, userId uuid.UUID) builder.DeleteFinalizeQuery[models.UsersDto, *models.UsersDto] {
	return models.NewDTOQuery[models.UsersDto](pool).
		Delete().
		Where(users.Id().Eq(Val(userId)))
}
